.main_new{
    /* display: flex; */
    /* border: 10px solid black; */
 float: right;

}

.main_content_new{
    min-width: 83vw;
    max-width: 83vw;
   
  

}
.sidebar_new{
    /* flex: 0.14; */
    /* border: 5px solid purple; */
}

.mainbody{
    display: grid;
}
