.main_new{
    display: flex;
    /* border: 10px solid black; */
}

.main_content_new{
    flex: .99;
    margin-right:5px;
    margin-left:3px;
  

}
.sidebar_new{
    flex: .14;
    /* border: 5px solid purple; */
}
