.Companyorder_ul{
    display: flex;
    

}
.Companyorder_li{
    list-style: none;
    margin: 7px 2px 2px 2px;
}
.Companyorder_li :hover{
    cursor: pointer;
}
.Companyorder_li :active{
    background: white;
}
.active{
    background-color: white;
}