* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    background-color: #d9d9d9;
  
}

.main_Container {
    display: flex;
    
}
.leftsidebar {
    min-height: 105%;
    max-height: 150%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: -1rem;
    background-color:#187498;
    border-radius: 5px;
    
}
.userSidebar_div {
    margin-top: 20%;
    font-size: 20px;
    font-weight: bold; 
}
img{
    height: 100px;
    width: 100px;
    border-radius: 40px;
    margin-top:1rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.sidbar_h6{
    text-align: center;
    padding-top: 5px;
    color: #f6f6f6;
}
.sidebar_items{
   width: auto;
   height: auto;
   text-align: center;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-top: 1rem;
   background-color: #f6f6f6;
   border-radius: 20px;
   margin-left: 1rem;
   margin-right: 1rem;
   border: none;
   
}
.sidebar_items:has(> a.active){
    background-color:#5479FC;
   
    
}
.active{
    color:#ffffff;
}
.navbar{
    display: flex;
    list-style: none;
    border-bottom: 2px solid black;
}
/* li:has(> a.active){
    color: #5479FC;
   
} */
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    margin-right: 1rem;
    margin-left: 5px;
    font-weight: bold;
}


.sidebar_item {
    margin-top: 7rem;
    text-align: center;
    background-color: #f6f6f6;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    min-height: 10%;
    border-radius: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: bold;
   
}
.right_side {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 30vh;
}

.User_header {
    min-height: 5%;
    max-height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #428BCA;
    border-radius: 5px;
}
.header_para{
    min-width: 40%;
    max-width: 15%;
    min-height: 9%;
    max-height: 15%;
    margin-left: 5px;
    font-size: 2rem;
    padding: 12px;
    
}
.logo_btn{
    background-color:#5479FC;
    min-width: 20%;
    max-width: 50%;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    border: none;
   
}
.livePrice_table{
    display: flex;
}
