.Companyorder_ul{
    display: flex;
   

}
.Companyorder_li{
    list-style: none;
    margin: 10px 2px 2px 5px;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    border-radius: 5px;
    
}
.Companyorder_li :hover{
    cursor: pointer;
}

.pegination_div{
    display: flex;
    justify-content: space-between;
    border-top: 1.25px solid rgb(91, 90, 90)
}
.PrevButtons{
    margin: 1%;
    width: 3rem;
    height: 3.5vh;
    background-color: #c4c4c4;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
    border-radius: 5px;
    margin-left: 3%;
    cursor: pointer;

}
.nextButtons{
    margin: 1%;
    margin-right: 3%;
    width: 3rem;
    height: 3.5vh;
    background-color: #c4c4c4;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.pageCounting{
    margin: 1%;
    /* margin-right: 3%; */
    width: 6rem;
    height: 3.5vh;
    background-color: #c4c4c4;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
    padding-top: 3px;
}